.leftNavChat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border: 1px solid #f6f6f6;
}

.leftNavChat:hover {
  background-color: #ebebeb;
}

.leftNav__info {
  margin-left: 15px;
}

.leftNav__info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
}
