.starterChat {
  flex: 0.65;
  display: flex;
  flex-direction: row;
}

.startChat__info {
  margin: auto;
}

.startChat__info > p {
  font-size: 24px;
}

.startChat__info > .MuiSvgIcon-root {
  width: 100%;
  font-size: 60px !important;
}
