.createRoom {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createRoom > h2 {
  padding: 20px;
}

.createRoom > .MuiAvatar-root {
  width: 50px;
  height: 50px;
  margin: 20px;
}

.createRoom__form {
  display: flex;
  align-items: center;
  height: 39px;
  width: 40%;
  padding: 10px;
}

.createRoom__form > form {
  width: 100%;
}

.createRoom__inpContainer {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid gray;
  width: 100%;
  height: 35px;
  border-radius: 10px;
}

.createRoom__inpContainer > input {
  border: none;
  margin-left: 10px;
  outline-width: 0;
  width: 100%;
}

.createRoom__form > form button {
  display: none;
}
