.leftNav {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.leftNav__header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-right: 1px solid lightgray;
  background-color: #b09bdb;
}

.leftNav__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftNav__headerRight>.MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

.leftNav__search {
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgray;
  height: 39px;
  padding: 10px;
}

.leftNav__searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid gray;
  width: 100%;
  height: 35px;
  border-radius: 10px;
}

.leftNav__searchContainer>.MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}

.leftNav__searchContainer>input {
  border: none;
  margin-left: 10px;
  outline-width: 0;
}

.leftNav__chats {
  flex: 1;
  background-color: white;
  overflow: auto;
}