.chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.chat__header {
  padding: 15px;
  display: flex;
  align-items: center;
  background-color: #b09bdb;
}

.chat__info {
  flex: 1;
  padding-left: 20px;
}

.chat__info > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.lastSeen {
  color: #232;
}

.chat__body {
  flex: 1;
  background-color: whitesmoke;
  background-repeat: repeat;
  background-position: center;
  padding: 15px;
  overflow: auto;
}

.translate__msg {
  display: flex;
  transition: 0.7s;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  font-size: 16px;
  /* padding: 10px; */
  width: fit-content;
  height: 0;
  border-radius: 10px;
  background-color: white;
  margin-top: -10px;
  margin-bottom: 30px;
  max-width: 70%;
}

.gst {
  background-color: #b0b1e2;
  margin-left: auto;
}

.chat__message {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: white;
  /* margin-bottom: 30px; */
  max-width: 70%;
}

.chat__timestamp {
  font-size: xx-small;
  display: flex;
  flex: 1;
  margin-left: auto;
}

.chat__name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}

.chat__receiver {
  margin-left: auto;
  /* background-color: #dcf8c6; */
  background-color: #b0b1e2;
}

.chat__receiver > .chat__name {
  display: none;
}

.chat__footer {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  background-color: white;
  border-top: 1px solid lightgray;
}

.chat__footer > form {
  flex: 1;
  /* display: flex; */
}

.chat__ops {
  display: flex;
}

.trans {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: center;
}

.sel {
  display: flex;
  height: 100%;
}

.sel > select {
  margin: 0 5px 10px 5px;
  height: 100%;
  border: none;
  background: none;
}

.chat__inputContainer {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid gray;
  width: 100%;
  height: fit-content;
  border-radius: 10px;
}

.chat__inputContainer > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}

.chat__inputContainer > textarea {
  border: none;
  flex: 1;
  height: 100%;
  font-size: 16px;
  margin-left: 10px;
  outline-width: 0;
}

.chat__footer > form > textarea {
  flex: 1;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
  font-size: 16px;
}

.btn {
  display: none;
}

.chat__footer > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: whitesmoke;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
}
