.home {
  display: block;
  place-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  /* background-image: url("https://image.freepik.com/free-photo/minimal-monochromatic-purple-background_23-2148667773.jpg"); */
}

.container {
  filter: brightness(100%);
  width: 90%;
  margin: 0 auto;
}
