.profileRoom {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.profileRoom__header {
  padding: 15px;
  display: flex;
  align-items: center;
  background-color: #b09bdb;
}

.profileRoom__info {
  flex: 1;
  padding-left: 20px;
}

.profileRoom__info > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.profileRoom__info > p {
  color: #232;
}

.profileRoom__body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  flex: 1;
  width: 100%;
  height: 100px;
  background-color: white;
  margin-bottom: 10px;
}

.profileRoom__title_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.profileRoom__title_info > h2 {
  padding: 10px;
}

.profileRoom__title_info > .MuiAvatar-root {
  width: 150px;
  height: 150px;
}

.profileRoom_list_user {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: scroll;
}

.userOne {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.userOne > .MuiAvatar-root {
  margin-right: 10px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

#newRoomName, #changeRoomName{
  display: none;
}