.index {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
}

.index__body {
  display: flex;
  background-color: #ededed;
  height: 95vh;
  width: 95vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
